.settings
.DS_Store
.idea
bin
gen
obj
proguard
build.xml
local.properties
build
.project
.classpath
.gradle
project.properties
.pydevproject
*.iml
*.apk
fabric.properties
freeline.py
freeline
freeline_project_description.json
captures
gradle.properties
